
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>This picture is from {{itemInfo?.author}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <img class="img-fluid" [src]="itemInfo?.url" [alt]="'Picture from '+itemInfo?.author">
            <div class="card-body">
              <h5 class="card-title">Author: {{itemInfo?.author}}</h5>
              <p>Title: {{itemInfo?.title}}</p>
              <p>Desciption: {{itemInfo?.description}}</p>
              <p>Download Url: <a target="blank" [href]="itemInfo?.url">{{itemInfo?.url}}</a></p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a (click)="grayscale()" class="btn btn-primary m-2">
                  <span *ngIf="!gray">Gray Scale ?</span>
                  <span *ngIf="gray">Color ?</span>
                </a>
            <a (click)="addBlur()" class="btn btn-primary m-2">
                Add some blur ? {{blur}}
            </a>
            </div>
          </div>
    </div>
</section>