<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Contact</h2>
        </div>
    </div>

    <form #myForm="ngForm" (ngSubmit)="onSubmit( myForm.value )" class="row g-3">
        <div class="col-md-6">
            <label for="firstname" class="form-label">Firstname*</label>
            <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="firstname" required>
            <div *ngIf="error?.firstname" class="alert alert-danger mt-2" role="alert">
                {{error?.firstname}}
              </div>
        </div>
        <div class="col-md-6">
            <label for="lastname" class="form-label">Lastname*</label>
            <input type="text" class="form-control" id="lastname" name="lastname"  [(ngModel)]="lastname" required>
            <div *ngIf="error?.lastname" class="alert alert-danger mt-2" role="alert">
                {{error?.lastname}}
              </div>
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Email*</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="your@mail.com" required>
            <div *ngIf="error?.email" class="alert alert-danger mt-2" role="alert">
                {{error?.email}}
              </div>
        </div>
        <div class="col-12">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" [(ngModel)]="message">
            </textarea>
        </div>
        <div class="col-12">
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
        </div>
    </form>
<div class="row mt-3">
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2825.354790730012!2d4.911558815539171!3d44.916120029098316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f557b51a75ee29%3A0xf3390cf10bc794ce!2sDr%C3%B4me%20CCI%20Formation!5e0!3m2!1sfr!2sfr!4v1649167340336!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</section>