<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 id="top">Portfolio</h2>
            <h3>This is a Chuck Norris joke:</h3>
            <p *ngIf="jokeNotFound; else jokeFound">No joke as been found...</p>
            <ng-template #jokeFound>
              <p>{{joke?.value}}</p>
            </ng-template> 
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled': page==1}">
              <a class="page-link" role="button" (click)="loadPics('prev')">Previous</a>
            </li>
            <li *ngIf="page>2" class="page-item"><a class="page-link" role="button" (click)="loadPics('',page-2)">{{page-2}}</a></li>
            <li *ngIf="page>1" class="page-item"><a class="page-link" role="button" (click)="loadPics('',page-1)">{{page-1}}</a></li>
            <li class="page-item active"><a class="page-link" role="button" (click)="loadPics('',page)">{{page}}</a></li>
            <li class="page-item"><a class="page-link"  role="button" (click)="loadPics('',page+1)">{{page+1}}</a></li>
            <li class="page-item"><a class="page-link"  role="button" (click)="loadPics('',page+2)">{{page+2}}</a></li>
            <li class="page-item">
              <a class="page-link" role="button" (click)="loadPics('next')">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
        <div *ngFor="let pic of gallery" class="col-12 col-md-4 mb-2">
            <div data-aos="fade-down" class="card">

              <a [routerLink]="'/portfolio/'+pic.id">
                <img [src]=" pic.url " class="card-img-top" [alt]="'Picture from '+pic.author">
              </a>

                <div class="card-body">
                  <h5 class="card-title">Picture from {{pic.author}}</h5>
                  <p class="card-text text-truncate">{{pic.description}}</p>
                  <a [href]="pic.url" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{'disabled': page==1}">
              <a class="page-link" role="button" (click)="loadPics('prev')">Previous</a>
            </li>
            <li *ngIf="page>2" class="page-item"><a class="page-link" role="button" (click)="loadPics('',page-2)">{{page-2}}</a></li>
            <li *ngIf="page>1" class="page-item"><a class="page-link" role="button" (click)="loadPics('',page-1)">{{page-1}}</a></li>
            <li class="page-item active"><a class="page-link" role="button" (click)="loadPics('',page)">{{page}}</a></li>
            <li class="page-item"><a class="page-link"  role="button" (click)="loadPics('',page+1)">{{page+1}}</a></li>
            <li class="page-item"><a class="page-link"  role="button" (click)="loadPics('',page+2)">{{page+2}}</a></li>
            <li class="page-item">
              <a class="page-link" role="button" (click)="loadPics('next')">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</section>