<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Portfolio</h2>
            <h3>This is a Chuck Norris joke:</h3>
            <p *ngIf="jokeNotFound; else jokeFound">No joke as been found...</p>
            <ng-template #jokeFound>
              <p>{{joke?.value}}</p>
            </ng-template> 
        </div>
    </div>
    <div class="row">
        <div *ngFor="let pic of gallery" class="col-12 col-md-4 mb-2">
            <div class="card">
                <img [src]=" 'https://picsum.photos/id/'+pic.id+'/640/480' " class="card-img-top" [alt]="'Picture from '+pic.author">
                <div class="card-body">
                  <h5 class="card-title">Picture from {{pic.author}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a [href]="pic.download_url" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</section>