<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg" alt="Page de code" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur nam eveniet unde beatae, ab ducimus neque libero. Magni consequatur est voluptate ad eos repellendus quisquam atque, rerum non deleniti ut beatae eum iure laudantium eaque. Modi quas illo iusto eaque hic similique exercitationem nisi facilis ea vel aliquam ut reiciendis, sunt quisquam repudiandae laudantium odit nam quaerat? Ullam hic neque atque, suscipit aliquam fugiat est animi nemo perspiciatis molestiae porro! Ipsam cupiditate reprehenderit voluptatem doloribus eveniet, ullam incidunt. Nam excepturi ratione, mollitia beatae porro enim cumque dolorum repellat reprehenderit, eius laudantium harum, consequatur nobis voluptatibus quam facilis incidunt voluptates ipsam culpa obcaecati dolorem nulla. Aliquam pariatur neque illo ad suscipit soluta deleniti tempora harum. Voluptatibus maiores laborum accusamus reiciendis officia dolorum eos error dignissimos iusto.</p>
        </div>
    </div>
</section>
